In [1]:
CREATE TABLE  LEAGUES  (
    leaguecode varchar (3) NOT NULL ,
    leaguename varchar(50) NOT NULL 
);
CREATE TABLE  TEAMS (
    Teamname varchar(50) NOT NULL ,
    Teamfullname varchar(50) NOT NULL ,
    NationalityCode varchar(10) NOT NULL ,
    EngineSupplier varchar(50) NOT NULL 
);
CREATE TABLE  DRIVERS (
    DriverName varchar(50) NOT NULL ,
    DateOfBirth date NOT NULL ,
    DriverCode varchar(3) NOT NULL ,
    City varchar(50) NOT NULL ,
    NationalityCode varchar(10) NOT NULL  
);
CREATE TABLE  CIRCUITS (
    lCircuitcode varchar(50) NOT NULL ,
    Grandprixname varchar (50) NOT NULL ,
    Nationalitycode varchar(10) NOT NULL ,
    CircuitLocation varchar(50) NOT NULL ,
    CircuitRegion varchar(50) NOT NULL 
);